<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%=folder.name%></title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header>
        <h1>File Uploader</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/log-out">Log Out</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div id="folder-name">
                <h2><%=folder.name%></h2>
                <button onclick="toggleVisibility('folder-name','name-form')">Rename</button>
            </div>
            <form id="name-form" action="/rename/<%=folder.id%>" method="POST" class="hidden">
                <label for="name">New Name:</label>
                <input name="name" id="name" type="text" placeholder="<%=folder.name%>" />
                <input type="submit" value="Update">
            </form>
        </section>
    </main>
    <footer>
        <p>Made by <a href="https://github.com/jdogcodey">jdogcodey</a> following <a
                href='https://www.theodinproject.com/'>The Odin Project</a> - <a
                href='https://www.theodinproject.com/lessons/nodejs-file-uploader'>File Uploader</a></p>
    </footer>
    <script src="/additionaljs.js"></script>
</body>

</html>