<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header class="light-purple orange-text">
        <h1>File Uploader</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/log-out">Log Out</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="upload-page">
       <h2>Upload a new file:</h2>
       <form class="bottom-form" action="/upload" method="POST" enctype="multipart/form-data">
        <input class="in-page-nav-buttons" type="file" name="upload-file" />
        <%if (folders) {%>
            <label for="folder">Folder:</label>
            <select class='align-right' name="folder">
                <%folders.forEach((folder)=> {%>
                    <option value="<%=folder.name%>">
                        <%=folder.name%>
                    </option>
                    <%})%>
            </select>
            <%}%>
        <input class="submit" type="submit" value="Upload" />
       </form>
    </main>
    <footer>
        <p>Made by <a href="https://github.com/jdogcodey">jdogcodey</a> following <a
                href='https://www.theodinproject.com/'>The Odin Project</a> - <a
                href='https://www.theodinproject.com/lessons/nodejs-file-uploader'>File Uploader</a></p>
    </footer>
    <script src="/additionaljs.js"></script>
</body>

</html>