html {
    background-color: #FFDCCC;
    font-size: 16;
}

body {
    margin: 0 10% 0 10%;
    transition: margin 0.3s ease;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    background-color: white;
}




.hidden {
    display: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: clamp(5px, 1vw, 20px);
    text-shadow: 0.125rem 0.125rem #000000;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-radius: 0 0 2.5rem 0;
}

h1 {
    font-family: 'Poppins', 'Quicksand', sans-serif;
    font-size: clamp(1.25rem, 2vw,3rem);
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-weight: 600;
    margin: 0 5vw 0 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 20vw;
    align-items: center;
    margin: 0;
    gap: clamp(1rem, 1vw, 2rem);
}

nav ul li:hover {
    font-weight: 600;
    text-decoration: underline;
}

li {
    list-style-type: none;
}

footer {
    text-align: center;
    width: 100%;
    font-size: clamp(0.5rem, 1vw, 1rem);
}

footer p a {
    font-weight: 600;
}

footer p a:hover  {
    text-decoration: underline;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

/* Light Purple */
.light-purple {
    background-color: #B7B1F2;

}

.light-purple-text {
    color: #B7B1F2;
}

/* Light Pink */
.light-pink {
    background-color: #FDB7EA;
}

.light-pink-text {
    color: #FDB7EA;
}

/* Light Yellow */
.orange {
    background-color: #FFDCCC;
}

.orange-text {
    color: #FFDCCC;
}

/* Light Cream */
.light-cream {
    background-color: #FBF3B9;
}

.light-cream-text {
    color: #FBF3B9;
}

a {
    color: inherit;
    text-decoration: none;
}

#log-in, #sign-up {
    width: min(96vw, 500px);
    margin: 0 2vw;
}

h2 {
    width: 100%;
    box-sizing: border-box;
    background-color: #B7B1F2;
    margin: 0;
    padding: clamp(5px, 1vw, 20px) clamp(5px, 1vw, 20px) clamp(5px, 2vw, 30px) clamp(5px, 1vw, 20px);
    border-radius: 20px 5px 0px 0px;
    font-family: 'Poppins', 'Quicksand', sans-serif;
    color: #ffdccc;
    text-shadow: 0.125rem 0.125rem #000000;
    font-size: clamp(1.25rem, 2vw, 2rem);
}

.bottom-form {
    width: 100%;
    box-sizing: border-box;
    background-color: #FFDCCC;
    margin: 0;
    padding: clamp(5px, 1vw, 20px);
    border-radius: 0px 0px 20px 5px;
    display: flex;
    flex-direction: column;
    gap: clamp(5px, 2vh, 10px);
    border-bottom-color: #000000;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    font-size: clamp(1rem, 1vw, 1.25rem);
}

form {
    display: flex;
    flex-direction: column;
    gap: clamp(5px, 2vh, 10px);
}

.align-right {
    align-self: flex-end;
    max-width: 90%;
    min-width: 80%;
    border: 1px solid #B7B1F2;
    border-radius: 10px;
    padding: clamp(5px, 0.5vw, 10px);
}

.align-right::placeholder {
    color: #B7B1F2;
    font-weight: 100px;
    
}



.submit {
    text-align: center;
    font-weight: 800;
    padding: clamp(5px, 1vw, 20px);
    background-color: #B7B1F2;
    color: #FFDCCC;
    text-shadow: 2px 2px #000000;
    width: fit-content;
    align-self: center;
    border-radius: 20px;
    border: none;
}

.submit:hover {
    text-decoration: underline;
    box-shadow: 2px 2px 2px #000000;
}

.switch {
    background-color: inherit;
    border: none;
}

.switch:hover {
    font-weight: 800;
    text-decoration: underline;
}

.error-message {
    align-self: flex-end;
    font-weight: 600;
    background-color: #FBF3B9;
    border-radius: 10px;
    padding: 5px;
}

@media (max-width: 1200px) {
    body {
        margin-left: 8%;
        margin-right: 8%;
    }
}

@media (max-width: 1024px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 768px) {
    body {
        margin-left: 3%;
        margin-right: 3%;
    }
}

@media (max-width: 600px) {
    body {
            margin-left: 0;
            margin-right: 0;
    }
}

#logged-in-home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10vw;
    margin: 5vw;
}

#go-files-button, #go-upload-button {
    font-size: clamp(1.25rem, 15vw, 2rem);
    text-align: center;
    background-color: #B7B1F2;
    color:#FFDCCC;
    text-shadow: 2px 2px #000000;
    font-weight: 600;
    padding: clamp(5px, 2vw, 20px);
    border-radius: 15px;
    border-bottom-color: #000000;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
